{% extends 'base.html' %}

{% block content %}
  <h4> 
    New Game Instance
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#game">Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#caches">Caches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#review">Review</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane container active" id="game">
        <form class="form_game" action="api/create_game" method="post">
          <div class="form_group">
            <label class="control-label" for="name"><b>Game Name</b></label>
            <div>
              <input class="game_input" type="text" name="name">
            </div>
          </div>
          <div class="form_group">
            <a><b>Area</b></a> 

            <div id="mapa" class="mapa"></div>
            <script src="/static/map.js">  </script>

            <br>
            
            <div>
              <label class="control-label" >Select area</label>
              <button type="submit" name="area" onclick="getCoordinates()">Set area</button>
            </div>
          </div>
          <div class="form_group">
            <div>
              <input type="submit" class="btn btn-secondary" value="Next" href="#caches">
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane container fade" id="caches">...</div>
      <div class="tab-pane container fade" id="review">...</div>
    </div>
  </div>

  <script>
    function login(){
      window.open('/login');
    }
  </script>
{% endblock %}
