{% extends 'base.html' %}

{% block content %}
<div class="padding">
  <br>
  <h5> Participate In A Active Hunt
  </h5>
  <br>
  <a> Los usuarios pueden decidir participar en cualquiera de las cazas que
      estén activas en un momento dado, con lo que tendrán acceso a un mapa del área de juego así como
      a las pistas para encontrar los correspondientes tesoros. Los usuarios podrán indicar que han localizado
      un tesoro, mostrándose entonces el mismo en el mapa. Como prueba del hallazgo, subirán al sistema
      una imagen del cache encontrado. Cuando algún jugador localice todos los caches, se le deberá
      informar de que es el ganador. A partir de ese momento, no se registrarán nuevos hallazgos de cachés
      para este juego, indicándose al resto de los usuarios que el juego ha finalizado y quién es el ganador
      cuando traten de hacerlo. </a>
</div>
{% endblock %}